# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Jenkins
jenkins-key.json

# Logs
*.log

# Temporary files
/tmp/

# Filesystem snapshots
.snapshots/
